doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content)
        meta(name='author', content)

        title Contact

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page content
            section.bg-light

                .container.px-5

                    // Contact form
                    .bg-light.rounded-4.py-5.px-4.px-md-5
                        .text-center.mb-5
                            h1.display-5.fw-bolder.mb-2
                                span.text-gradient.d-inline Contact
                            p.lead.fw-normal.text-muted.mb-2 Did we just become best friends?
                            p.text-muted.text-center.mb-0
                        .row.gx-5.justify-content-center
                            .col-lg-8.col-xl-6
                                form#contactForm(
                                    data-sb-form-api-token='API_TOKEN'
                                    action='https://api.web3forms.com/submit'
                                    method = 'POST'
                                    )

                                    .form-floating.mb-3
                                        input#init.form-control(
                                            type='hidden'
                                            name='access_key'
                                            value='7bd511d4-a341-4906-9582-00b724c8a783'
                                        )

                                    // Name input
                                    .form-floating.mb-3
                                        input#name.form-control(
                                            type='text'
                                            name='name'
                                            placeholder='Enter your name...'
                                        )
                                        label(for='name') Full name
                                    
                                    // Email address input
                                    .form-floating.mb-3
                                        input#email.form-control(
                                            type='email'
                                            name='email'
                                            placeholder='name@example.com'
                                        )
                                        label(for='email') Email address
                                    
                                    // Phone number input
                                    .form-floating.mb-3
                                        input#phone.form-control(
                                            type='tel'
                                            name='tel'
                                            placeholder='(123) 456-7890'
                                        )
                                        label(for='phone') Phone number
                                    
                                    // Message input
                                    .form-floating.mb-3
                                        textarea#message.form-control(
                                            type='text'
                                            placeholder='Enter your message here...'
                                            name='message'
                                            style='height: 10rem;'
                                        )
                                        label(for='message') Message

                                    // Submit Button
                                    .d-grid
                                        button#submitButton.btn.btn-primary.btn-lg(type='submit') Submit

        // Footer
        include includes/footer.pug

        include includes/scripts.pug